name: EAS Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        working-directory: ./shl-highlights-app
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci
        working-directory: ./shl-highlights-app

      - name: Build on EAS
        run: eas build --platform android --non-interactive --no-wait
        working-directory: shl-highlights-app